{% extends 'base.html' %}

{% block content %}
</div>
    <div class="about">
        <h2> ABOUT US</h2>
        <p>At THE GYM, we’re about real fitness. Our no-nonsense, results-driven culture was built on a history rooted in weightlifting culture. With our award-winning designs and culture, THE GYM has effortlessly became an Nationally recognized brand known for its commitment to health, strength, and fitness. Today, we continue to be one of the most celebrated fitness brands in the world.</p>
        <h3>FEATURES</h3>
        <div class="list">
            <ul>
                <li>Largest free weight section in the High Desert.</li>
                <li>State of the art treadmills and ellipticals.</li>
                <li>Tanning beds</li>
                <li>Cycle studio</li>
                <li>Aerobic classes</li>
                <li>Saunas</li>
                <li>Steam rooms</li>
                <li>Personal Training</li>
                <li>Nutrition shop</li>
                <li>Status RX</li>
            </ul>
        </div>
    </div>
{% endblock %}